// Colors
$color_red: #CC3232;
$color_red_alt: #EEB4B4;
$color_blue: #00C5CD;
$color_black: #000;
$color_green: #61B329;
$color_white: #fff;
$color_grey: #53868B;
$color_background: #D1EEEE;
$color_inner: #8FD8D8;
$color_border: #66CCCC;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700&subset=latin,latin-ext);
$font_normal: 'Open Sans';
